<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>MaxCoach</title>
  </head>
  <body>

    <div id="app">

      <!-- Header's start -->
      <header>

        <!-- Website's navbar -->
        <nav class="navbar d-flex align-items-center">

          <div class="links">
            <ul class="d-flex">
              <li v-for="(link, index) in navLinks"> <a href="">{{link.title}}<i class="fas fa-chevron-down"></i></a></li>

            </ul>
          </div>

          <a href="#" id="logo">
            <img src="assets/img/dark-logo.png" alt="">
          </a>

          <div class="right_navbar">
            <a href="" class="mr-20"><i class="fas fa-shopping-cart"></i></a>
            <a href="" class="mr-15"><i class="far fa-user-circle"></i></a>
            <input type="text" name="" value="" placeholder="Search...">
          </div>

        </nav>

        <!-- Website's jumbotron -->
        <div class="jumbotron">
          <div class="container white">
            <h2>commence business</h2>
            <h1>distant mentoring program</h1>
            <button type="button" name="button" class="aqua-green">Download free guidebook <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>

      </header>
      <!-- Header's end -->

      <!-- Main's start-->
      <main>

        <section class="bg_white_to_grey pb-85">

          <!-- Section about MaxCoach's features -->
          <section class="features">

            <div class="container d-flex flex-column">

              <!-- Section with "Learn about" -->
              <div class="d-flex justify-space-between section-learn-about">

                <div class="learn_about">
                  <span class="grey uppercase fw-500">everything in <span class="fw-600">maxcoach</span></span>
                  <h2 class="almost-black">Learn about our <span class="aqua-green fw-400">Work Culture</span> at MaxCoach</h2>
                  <p class="grey mt-20 fw-500 long-text">Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month.</p>
                  <p class="grey mt-35 fw-500 final_text"> Have questions? <a href="" class="aqua-green fw-600"> Get Free Guide <i class="fas fa-arrow-right"></i></a></p>
                </div>

                <img src="assets/img/learn-about.jpg" alt="">

              </div>

              <!-- Section with datas about lessons -->
              <div class="data d-flex justify-space-around data_lessons">

                <div>
                  <h2 class="aqua-green">129+</h2>
                  <p class="mt-15 almost-black">enrolled learners</p>
                </div>

                <div>
                  <h2 class="aqua-green">80</h2>
                  <p class="mt-15 almost-black">finished sessions</p>
                </div>

                <div>
                  <h2 class="aqua-green">4&percnt;</h2>
                  <p class="mt-15 almost-black">satisfation rate</p>
                </div>
              </div>

              <!-- Section with "upgrade your  skills" -->
              <div class="upgrade_skills d-flex">

                <div class="youtube_prev position-r">
                  <div class="container_img">
                    <img src="assets/img/youtube_background.jpg" alt="">
                  </div>
                  <img src="assets/img/icon-youtube-play.png" alt="" class="youtube_button">
                </div>

                <div class="upgrade_life">
                  <span class="grey uppercase fw-500 mt-50">how we work</span>
                  <h2 class="almost-black capitalize">upgrade your skills <span class="aqua-green fw-400">upgrade your life</span></h2>
                  <p class="grey mt-20 fw-500 long-text">Opening up more opportunities in front of yout to get the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning.</p>
                  <p class="mt-35 fw-600 final_text"> <a href="" class=" fw-600"> Download free guidebook <i class="fas fa-arrow-right"></i></a></p>
                </div>
              </div>

            </div>

          </section>

          <!-- Section about Courses (With Cards about courses) -->
          <section class="courses mt-105 container">
            <h4 class="grey uppercase fw-500 text-center">join maxcoach at best</h4>
            <h2 class="almost-black capitalize mt-30 mb-40 text-center">latest online <span class="aqua-green fw-400">courses</span></h2>

            <div class="container_courses_carousel" id="slider_horizontal">
              <div class="courses_carousel">

                <div class="card mt-35" v-for="course in courses">

                  <div class="container_img">
                    <img :src="'assets/img/'+course.img" alt="">
                  </div>

                  <div class="info_card">
                    <h3 class="aqua-green"><span>&dollar;{{course.price}}</span>.00</h3>
                    <h4 class="mt-20 mb-20">{{course.title}}</h4>
                    <p class="grey fw-500 mb-20"><i class="far fa-file-alt"></i> {{course.lessons}} Lessons <i class="far fa-user"></i> {{course.students}} Students</p>
                  </div>

                </div>

              </div>

            </div>

            <div class="navigation_dots">
              <div class="dots_container mb-50" v-for="(point,index) in counterDots">
                <a @click="slideHorizontal(index, 'slider_horizontal')"><i :class="index === positionDotHorizontal ? 'dot_active': ''" class="fas fa-circle"></i></a>
              </div>
            </div>

            <div class="final_course_message text-center">
              <p class="almost-black">Control your personal preference settings to get notified about appropriate courses. <a href="">View all courses <i class="fas fa-arrow-right"></i></a></p>
            </div>
          </section>

        </section>
        <!-- Section about reviews -->
        <section class="reviews container d-flex pt-85">

          <div class="why_people mt-150">
            <h4 class="grey uppercase fw-500 mb-30">testimonials</h4>
            <h2 class="almost-black fs-40">Why Do People <span class="aqua-green fw-400">*Hearts*</span> Us?</h2>
            <p class="grey mt-20 fw-500 long-text">Seeking for verbals of our service quality? Find them here. Everything is transparent and straightforward for your sense of jusitifcation.</p>
            <p class="mt-35 fw-600 final_text"> <a href="" class=" fw-600 fs-14"> View All <i class="fas fa-arrow-right"></i></a></p>
          </div>

          <div class="review_cards mt-100" id="slider_vertical">
            <div class="card" v-for="(review,index) in reviews">
              <h4>{{review.title}}</h4>
              <p class="long-text grey mt-20 fw-500">{{review.text}}</p>
              <div class="contact d-flex">
                <img :src="'assets/img/' + review.img" alt="" class="mt-20">
                <div class="contact_data">
                  <div class="mb-10 uppercase fs-14 fw-600 almost-black">{{review.name}}</div>
                  <div class="fs-14">&sol; {{review.work}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider_vertical_dots">
            <div class="dot_container d-flex justify-center align-items-center" v-for="(dot,index) in reviews">
              <i class="fas fa-circle" @click="slideVertical(index, 'slider_vertical')" :class="index === positionDotVertical ? 'dot_active': ''"></i>
            </div>
          </div>
        </section>

        <!-- Section about the free guide -->
        <section class="free_guide">

        </section>

        <!-- Section about blogs -->
        <section class="our_blogs">

        </section>

        <!-- Newsletter -->
        <section class="newsletter">

        </section>

      </main>
      <!-- Main's end -->

      <!-- Footer's start -->
      <footer>

      </footer>
      <!-- Footer's end -->

    </div>

  <!-- Script vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Script Javascript -->
  <script type="text/javascript" src="assets/js/main.js"></script>

  </body>
</html>
