*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  letter-spacing: -0.7px;
}

/* Utility classes */
.container{
  width: 1140px;
  margin: auto;
}

.position-r{
  position: relative;
}

.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.align-items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-space-around{
  justify-content: space-around;
}

.justify-space-between{
  justify-content: space-between;
}

.mr-7{
  margin-right: 7px;
}

.mr-10{
  margin-right: 10px;
}

.mr-15{
  margin-right: 15px;
}

.ml-30{
  margin-left: 30px;
}

.mr-20{
  margin-right: 20px;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.mt-35{
  margin-top: 35px;
}

.mt-50{
  margin-top: 50px;
}

.mt-90{
  margin-top: 90px;
}

.mt-100{
  margin-top: 100px;
}

.mt-105{
  margin-top: 105px;
}

.mt-150{
  margin-top: 150px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-75{
  margin-bottom: 75px;
}

.mb-85{
  margin-bottom: 85px;
}

.pt-75{
  padding-top: 75px;
}

.pt-85{
  padding-top: 85px;
}

.pt-110{
  padding-top: 110px;
}

.pb-50{
  padding-bottom: 50px;
}

.pb-85{
  padding-bottom: 85px;
}

.pb-100{
  padding-bottom: 100px;
}

.pb-115{
  padding-bottom: 115px;
}

.fs-13{
  font-size: 13px;
}

.fs-14{
  font-size: 14px;
}

.fs-40{
  font-size: 40px;
}

.letter-1-5{
  letter-spacing: 1.5px;
}

.almost-black{
  color: #333333;
}

.white{
  color: white;
}

.aqua-green{
  color: #1fad95;
}

.grey{
  color: #696969;
}

.clear_grey{
  color: #ababab;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.text-center{
  text-align: center;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

/* Commons */
ul{
list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

a:focus{
  color: inherit;
}

.long-text{
  font-size: 13px;
  line-height: 1.5em;
}

/********************************************
********************************************/

/* Navbar */
nav{
  height: 80px;
  max-width: 1600px;
  margin: auto;
}

.links{
  width: 42%;
}

#logo{
  width: 16%;
  text-align: center;
}

.right_navbar{
  width: 42%;
  margin-right: 30px;
  text-align: right;
}

.links ul li{
  margin-left: 30px;
  text-transform: capitalize;
  font-size: 14px;
}

.links ul li i{
  font-size: 10px;
  margin-left: 6px;
}

.links ul li a{
  transition: color 0.3s ease;
}

.links ul li a:hover{
  color: #1fad95;
}

#logo img{
  width: 165px;
}

.right_navbar input{
  height: 50px;
  width: 280px;
  border: 1px solid rgba(0,0,0,0);
  background-color: #f5f5f5;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 40px;
  background-image: url('../img/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 95% 55%;
  transition: border 0.4s ease;
}

.right_navbar input:focus {
  outline: 0;
  border: 1px solid #1fad95;
}

/* Jumbotron */
.jumbotron{
  height: 670px;
  background-image: url('../img/home-3-hero-bg.jpg');
  background-repeat: no-repeat;
  position: relative;
  text-transform: capitalize;
}

.jumbotron .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}

.jumbotron h1{
  font-weight: 500;
  font-size: 50px;
}

.jumbotron h2{
  font-size: 30px;
}

.jumbotron button{
  background-color: white;
  border: 0;
  cursor: pointer;
  width: 280px;
  height: 50px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  transition: background-color 0.4s ease;
}

.jumbotron button:hover{
  background-color: #1fad95;
  color: white;
}

.jumbotron button i{
  margin-left: 5px;
}

/* Main */

/* Section with background gradient from white to grey */

.bg_white_to_grey{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
}

/* Features section */

.img_over_features{
  position: absolute;
  width: 190px;
  border-radius: 7px;
  left: 92%;
  top: -8%;
  z-index: 1;
}

.features{
  padding-top: 200px;
}

.section-learn-about img{
  border-radius: 7px;
  height: 360px;
}

.learn_about{
  padding-right: 210px;
}

.learn_about > span , .learn_about > span span , .upgrade_life span{
  display: inline-block;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.learn_about h2, .upgrade_life h2 , .upgrade_life h2 span{
  font-size: 40px;
  line-height: 1.4em;
}

.learn_about .final_text , .upgrade_life .final_text{
  font-size: 13px;
}

.learn_about p i , .upgrade_life p i{
  margin-left: 5px;
}

.data_lessons{
  width: 75%;
  margin: 105px auto;
  text-align: center;
}

.data_lessons h2{
  font-size: 40px;
}

.data_lessons p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
}

.youtube_prev{
  cursor: pointer;
}

.youtube_prev .container_img{
  overflow: hidden;
  height: 450px;
  border-radius: 7px;
}

.youtube_prev img:first-child{
  height: 450px;
  border-radius: 7px;
  transition: transform 1.3s ease;
}

.youtube_prev:hover img:first-child{
  transform: scale(1.1);
}

.youtube_prev .youtube_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.upgrade_life{
  padding-left: 100px;
}

.upgrade_life h2 span{
  display: inline;
}

/* Courses section */

.courses h4{
  font-size: 14px;
}

.courses h2{
  font-size: 40px;
}

.container_courses_carousel{
  width: 100%;
  overflow-x: auto;
}

.courses_carousel{
  width: max-content;
  margin-bottom: 22px;
}

.container_courses_carousel::-webkit-scrollbar{
  display: none;
}

.container_courses_carousel{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.courses_carousel .card{
  display: inline-block;
  width: 350px;
  background-color: white;
  margin-right:15px;
  margin-left: 15px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.8s ease;
}


.courses_carousel .card img{
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: all 1.4s ease;
}

.courses_carousel .card .container_img{
  overflow: hidden;
  height: 217.3px;
}

.courses_carousel .card:hover img{
  transform: scale(1.1);
}

.courses_carousel .card:hover{
  -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.6);
}

.courses_carousel .card h4:hover{
  color: #1fad95;
}

.courses_carousel .card h4{
  transition: color 0.3s ease;
}

.info_card{
  padding: 25px;
}

.info_card h3 span{
  font-size: 22px;
}

.info_card h3{
  font-size: 15px;
}

.info_card h4{
  line-height: 1.5em;
  font-size: 18px;
}

.info_card p{
  font-size: 14px;
}

.info_card i:last-child{
  margin-left: 25px;
}

.info_card i{
  margin-right: 6px;
}

.navigation_dots{
  width: max-content;
  margin: auto;
  font-size: 10px;
  color: #d8d8d8;
}

.dot_active{
  color: black;
  font-size: 14px;
}
.navigation_dots i{
  cursor: pointer;
  margin: auto;
}

.navigation_dots i:hover{
  font-size: 14px;
  color: black;
}

.dots_container{
  display: inline-block;
  width: 30px;
  text-align: center;
}

.final_course_message{
  width: 490px;
  margin: auto;
  line-height: 1.8em;
}

.final_course_message a{
  color: black;
  font-weight: 600;
}

.final_course_message a i{
  margin-left: 5px;
}

/* Section with reviews */

.why_people{
  width: 40%;
  height: 300px;
  padding-right: 70px;
}

.why_people h4{
  font-size: 13px;
  letter-spacing: 1.5px;
}

.why_people p i{
  margin-left: 5px;
}

.review_cards{
  width: 55%;
  height: 360px;
  border-radius: 7px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 120px;
}

.review_cards .card{
  border-radius: 7px;
  width: 95%;
  height: 330px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 40px 50px;
  -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.6);
}

.review_cards .card:last-of-type{
  margin-bottom: 15px;
}


.review_cards .card p , .review_cards .card h4{
  font-size: 16px;
  line-height: 1.8em;
}

.review_cards .card img{
  width: 70px;
  border-radius: 50%;
}

.review_cards .card .contact_data{
  margin-top: 35px;
  margin-left: 15px;
}

.slider_vertical_dots{
  width: 5%;
  height: 120px;
  margin-top: 220px;
}

.slider_vertical_dots .dot_container{
  height: 33.3%;
}

.dot_container {
  font-size: 12px;
  color: #d8d8d8;
}

.dot_container i:hover{
  font-size: 15px;
  color: black;
  cursor: pointer;
}

/* Section with free guide */
.free_guide>.transform_you{
  width: 50%;
  padding-left: 150px;
}

.transform_you p{
  line-height: 1.6em;
  padding-right: 50px;
}

.transform_you  button{
  background-color: #1fad95;
  color: white;
  border: 0;
  padding: 15px 50px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 35px;
  transition: background-color 0.3s ease;
}

.transform_you button:hover{
  background-color: #3f3a64;
}

/* Section with blogs articles*/

.our_blogs{
  background-color: #f8f8f8;
}

.our_blogs .card{
  width: 370px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.our_blogs .img_container{
  height: 237px;
  border-radius: 7px;
  overflow: hidden;
}

.our_blogs .card:hover img{
  transform: scale(1.1);
}

.our_blogs .card img{
  width: 100%;
  border-radius: 7px;
  transition: transform 1.4s ease;
}

.our_blogs .card h3:hover{
  color: #1fad95;
}

.our_blogs .card h3{
  transition: color 0.3s ease;
  line-height: 1.7em;
  font-size: 20px;
}

.our_blogs .card span{
  font-size: 13px;
}

/* Newsletters */

.newsletter_container {
  width: 51%;
  margin: auto;
}

.newsletter_container h4{
  line-height: 1.7em;
}


.newsletter_container input{
  width: 77%;
  background-color: #f4f5f5;
  border: 1px solid rgba(0,0,0,0);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px;
  transition: border 0.4s ease;
  letter-spacing: 0.5px;
}

.newsletter_container input:focus{
  outline: 0;
  border: 1px solid #1fad95;
  border-right: 0px solid rgba(0,0,0,0);
}

.newsletter_container .button{
  display: inline-block;
  width: 23%;
  background-color: #1fad95;
  color: white;
  height: 57px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 57px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter_container .button:hover{
  background-color: #3f3a64;
}

/* Footer */

footer{
  background-color: #171621;
}

footer .first_row{
  width: 55%;
}

footer .second_row , footer .third_row , footer .fourth_row{
  width: calc(45%/3);
}

footer .first_row li:first-of-type {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

footer .first_row li:last-of-type{
  cursor: pointer;
  transition: color 0.3s ease;
}

footer .first_row li:last-of-type:hover{
  color: #1fad95;
}

footer .second_row li:first-of-type a , footer .third_row li:first-of-type a , footer .fourth_row li:first-of-type a{
  cursor: context-menu;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

footer .third_row ul{
  padding-top: 20px;
}

footer .second_row li:hover:not(first-of-type) , footer .third_row li:hover:not(first-of-type) , footer .fourth_row li:hover:not(first-of-type){
  color: #1fad95;
}

footer .second_row li , footer .third_row li , footer .fourth_row li{
  transition: color 0.3s ease;
  width: max-content;
}

footer .social a{
  font-size: 25px;
  margin-right: 28px;
  transition: color 0.4s ease;
}

footer .social a:hover{
  color: white;
}



/********************************
MEDIAQUERIES
*******************************/

@media all and (max-width: 1440px) {
  .jumbotron{
    background-position: 50% 0;
  }

  .right_navbar{
    margin-right: 22px;
  }

  .links ul li{
    margin-left: 22px;
    font-size: 13px;
  }

  .img_over_features{
    position: absolute;
    width: 130px;
    border-radius: 7px;
    left: 92%;
    top: -5.5%;
    z-index: 1;
  }
}
